$base-font-family:    'freight-sans-pro', sans-serif;
$base-font-weight:    400;
$base-font-size:      18px;
$base-line-height:    29px;


$mid-font-size:       20px;
$mid-line-height:     31px;

$large-font-size:     24px;
$large-line-height:   35px;

$header-font-weight:  300;

$header-font-ratio:   1.333;

$show-baseline:       false;

$global-border-box:   false;

$use-buttons:         true;

@function line-height($value){
	@return ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

@import 'brackets';


html{
	/**
	 * Other html fixes and base settings
	 */
	overflow-y: scroll;
	min-height: 100%;	

	-webkit-tap-highlight-color: rgba(0,0,0,0);		
}


body {	
	-webkit-font-smoothing: antialiased;
	font-weight: $base-font-weight;
	
	width: auto;
	margin-left: em-calc(20px);
	margin-right: em-calc(20px);

}


.block{
	margin-bottom: 2em;
}