/*------------------------------------*\
    $TABLES
\*------------------------------------*/
table {
	max-width: 100%;
}
th {
	text-align: left;
}

/**
 * The table object
 * 1. This is the magic bit; make all children occupy equal width.
 * 2. Required to make the tabs fill their container.
 * 3. Make each tab pack up horizontally.
 * 4. Ensure the hit area covers the whole tab.
 */

// Baseline styles

.table {
	padding: 0;
  	list-style: none;
  	display: table; 
  	table-layout: fixed; /* [1] */
  	width: 100%; /* [2] */
}	
	
	/**
	 * The cells
     */
	.table__item{
		 display: table-cell; /* [3] */
	}
	
	.table__item, th, td{
	    padding: $base-spacing-unit / 2;
	    line-height: $base-spacing-unit;
	    border-top: 1px solid $base-ui-color;
	}
	
		.table__content{
			display: block; /* [4] */
		}


