@if $use-buttons == true{

button, 
%button, 
.button, 
input[type="button"], 
input[type="submit"]{
	display: inline-block;
	
	max-width: 100%;
	
	background-color: $btn-default-bg;
	border: 2px solid;
	border-color: $btn-default-border;
	
	color: $btn-default-color;
	line-height: ceil($btn-font-size / $btn-default-min-height) * ($btn-default-min-height / $btn-font-size);	
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	white-space: nowrap;
	
	@include font-size($btn-font-size, false);
	
	@include rem-calc(min-height, $btn-default-min-height);
	
	@include rem-calc(padding, 0 26px);
	@include rem-calc(margin, 0 8px 4px 0);
	@include rem-calc(border-radius, $base-border-radius);
	
	@include vendor(appearance, none);
	@include user-select(none);
	
	&:focus {
		@include tab-focus;
	}
	
	&:hover,
	&:focus {
		color: $btn-default-color;
		background-color: darken($base-ui-color, 10%);
		text-decoration: none;
	}
	
    &:active,
    &.active {
      outline: 0;
      background-image: none;
    }


    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      cursor: not-allowed;
      pointer-events: none; // Future-proof disabling of clicks
      @include opacity(.65);
    }
}

} 